@charset "utf-8";

.intro {
    position: relative;
    padding: 3em;
}

.intro-img {
    box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

.intro-title {
    margin-bottom: 0.25em;
}

.intro-title strong {
    display: block
}

.intro-subtitle {
    background: rgb(70, 175, 115);
    padding: 0.25em 1em;
    font-family: "Source Code Pro", monospace;
    margin-bottom: 1em;
    margin: 0;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 1em;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            'img title'
            'img subtitle';
        grid-template-columns: min-content max-content;
    }

    .intro-img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .intro-subtitle {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
        display: inline-block;
    }
}