@charset "utf-8";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: rgb(187, 190, 201);
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: 900;
}

:focus {
    outline: 3px solid rgb(70, 175, 115);
    outline-offset: 3px;
}

/* Headers */
h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 3.75rem;
}

h3 {
    font-size: 1.25rem;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 1em;
}

